<div class="header_item_list">
  <li class="dropdown">
    <a class="dropbtn" href="#">Women</a>
    <ul class="sub_menu ">
      <li><a href="#">New</a></li>

      <li class="dropdown_child">
        <a class="dropbtn_child" href="#">Apparel</a>
        {% comment %}
          <ul class="sub_menu_child ">
            <li><a href="#">outer </a></li>
          </ul>
        {% endcomment %}
      </li>

      <li><a href="#">Bag</a></li>
      <li><a href="#">Shoes</a></li>
      <li><a href="#">Beauty</a></li>
      <li><a href="#">Accessories</a></li>
    </ul>
  </li>

  <li class="dropdown">
    <a href="#">Man</a>
  </li>
  <li class="dropdown"><a href="#">Kids</a></li>
</div>
