* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  margin: auto 40px;
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
  }
}
